* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#app {
    padding: 30px 0px 0px 30px;
}

input,
select {
    max-width: 50vw;
    margin-bottom: 10px;
}


/* REVISAR */


/*
#container {
    height: 90%;
}

.center {
    text-align: center;
}
*/

table,
ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
}

table,
th,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    min-width: 125px;
    max-width: 250px;
}

th {
    background-color: beige;
}

td,
th {
    height: 60px;
}

td.descripcio {
    padding: 0px 5px;
}

.header-tasques {
    display: inline-block;
    width: 33%;
}

.centrat {
    text-align: center;
}

.header-tasques .form-control,
.header-tasques .form-select {
    max-width: 250px;
}

td button:first-child {
    margin-left: 25px;
}

button {
    margin-right: 25px;
}

.completada {
    text-decoration: line-through;
    color: blue;
}

.creacio {
    width: 125px;
}